// $icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// @import '~bootstrap-sass/assets/stylesheets/_bootstrap.scss';
html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 60px;
}

.main {
  padding-top: 77px;
}

.btn .btn-sucess {
  background-color: #A5D424 !important;
}

.span12 {
  text-align: center;
  margin: 0 auto;
}

.form-horizontal {
  width: 400px;
  margin: 0 auto;
}

.alert {
  max-width: 600px;
  position: absolute;
  border-radius: 5px;
  right: 5;
  top: 70;
  z-index: 999999;
  animation-name: fade;
  animation-duration: 7s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  50% {
    position: absolute;
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}