   .navbar {
     background: linear-gradient(145deg, #081026 0, #003478 60%, #0066a1 100%);
     background-image: linear-gradient(145deg, rgb(8, 16, 38) 0px, rgb(0, 52, 120) 60%, rgb(0, 102, 161) 100%);
     background-position-x: initial;
     background-position-y: initial;
     background-size: initial;
     background-repeat-x: initial;
     background-repeat-y: initial;
     background-attachment: initial;
     background-origin: initial;
     background-clip: initial;
     background-color: initial;
     position: absolute !important;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1;
   }

   .reverse {
     flex-direction: row-reverse;
   }

   .container-navbar {
     padding-right: 0px !important;
     padding-left: 0px !important;
     width: 100% !important;
   }

   .nav-link {
     color: white
   }

   .navbar-brand>img {
     display: block;
     max-width: 35px;
   }

   .img {
     text-align: center;
     height: 60px;
     width: 60px;
     color: #9A9A9A;
     margin-right: 19px;
     background-color: rgba(222, 222, 222, 0.3);
     border-radius: 30px;
   }