.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: #ffffff !important;
}

.modal-footer {
  padding: 5px !important;
}

.message {
  font-size: 13px;
  margin-left: 30px;
}

.ngmodal {
  overflow: auto!important;
  max-height: 400px !important;
}

.ngdialog.ngdialog-theme-default {
  padding-top: 100px !important;
}

.ngdialog {
  overflow: hidden !important;
}