.ngdialog.ngdialog-theme-default .ngdialog-content {
  background: #ffffff !important;
}

.modal-footer {
  padding: 5px !important;
}

.message {
  font-size: 11px;
}

.font-src {
  font-size: 12px;
  margin-left: 10px;
}

.ngmodal {
  overflow: auto!important;
  max-height: 400px !important;
}

.ngdialog.ngdialog-theme-default {
  padding-top: 100px !important;
}

.ngdialog {
  overflow: hidden !important;
}

.typography-line{
  display : flex;
  align-items : center;
}

.subtitles{
  font-size: 20px;
}