<div class="col-sm-12">
  <div class="control-group form-group form-group-no-border" ng-class="{'has-success' : $ctrl.github.password.length > 3, 'has-danger' : $ctrl.github.password.length <= 3}">
    <input type="{{vm.type}}" ng-model="vm.model" class="form-control text-center" ng-class="{'has-success' : $ctrl.github.password.length > 3, 'has-danger' : $ctrl.github.password.length <= 3}"
      id="{{vm.id}}" placeholder="{{vm.label}}" required ng-change="vm.change(vm.selected)" autocomplete="off" ng-focus="vm.focus = true"
      ng-blur="vm.blur(vm.model)">
  </div>
</div>
<div class="container" ng-show="vm.model.length >= 1 && vm.model.length < 9 && vm.focus">
  <div class="list-group text-center">
    <br>
    <div class="container">
      <div class="row">
        <div class="span12">
          <span class="badge badge-info btn btn-info" ata-toggle="modal" data-target="#myModal">New {{vm.labelnew}}</span>
        </div>
      </div>
    </div>
    <button ng-repeat="item in vm.values | filter:vm.model" type="button" class="list-group-item list-group-item-action item"
      ng-click="vm.click(item.valor)" ng-selected="item.valor == vm.model">{{item.valor}}</button>
  </div>
</div>