.grid {
  width: 100%;
}

@media (min-width: 576px) {
  .grid {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .grid {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .grid {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .grid {
    width: 1140px;
    max-width: 100%;
  }
}