.card {
  margin: 15px;
  cursor: pointer;
}

.card-img-top {
  align-items: center;
  text-align: center;
}

.hoverable:hover {
  -webkit-transition: -webkit-box-shadow .45s;
  transition: -webkit-box-shadow .45s;
  transition: box-shadow .45s;
  transition: box-shadow .45s, -webkit-box-shadow .45s;
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 44, 146, 1), 0 6px 20px 0 rgba(0, 0, 0, 0);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 44, 146, .45);
}