.editor {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: none !important;
}

.textarea {
  margin-top: 10px !important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  max-height: 500px;
}

.table-responsive-blob {
  display: block;
  width: 100%;
  overflow-x: auto;
  max-height: 300px;
  border-color: transparent !important;
  min-width: 700px !important;
}

.form-control>textarea {
  max-width: 100% !important;
  width: 1000px!important;
  padding: 10px 10px 0 0;
  resize: none;
  border: none;
  line-height: 2;
}

.table-responsive-blob th,
.table-responsive-blob td {
  border-top: none !important;
}

.table-responsive-blob textarea {
  max-width: 100%;
  min-width: 600px;
  padding: 0 0 0 0 !important;
  resize: none;
  border: none;
  border-bottom: 0px !important;
  border-radius: 0;
  line-height: 1.5;
}