.editor {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: none !important;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  max-height: 750px;
}

.vcenter {
    position: relative;
     transform: translateY(40%); 
}

.max-relative{
  max-width: 90%;
}

.ident-left {
  padding-left: 70px !important;
}

.code-mirror {
  min-width: 700px !important;
  min-height: 400px !important;
  max-width: 95% !important;
}

.CodeMirror {
  height: 570px !important;
}