<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>WebTool</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://codemirror.net/lib/codemirror.css" />
    <% for(var i=0; i < htmlWebpackPlugin.files.css; i++) { %>
        <link href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet">
        <% } %>

            <% for(var i=0; i < htmlWebpackPlugin.files.chunks; i++) { %>
                <script src="<%= htmlWebpackPlugin.files.chunks[i].entry %>" defer></script>
                <script src="http://codemirror.net/mode/javascript/javascript.js"></script>
                <script src="mode/javascript/javascript.js"></script>
                <% } %>
</head>

<body>
    <!--[if lt IE 10]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <navbar></navbar>
    <div class="main" ui-view>
    </div>
    <footer></footer>
</body>

</html>